.text-paragraph-medium-regular {
	font-size: 15px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-medium-bold {
	font-size: 15px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-large-regular {
	font-size: 17px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-large-bold {
	font-size: 17px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-extra-large-regular {
	font-size: 19px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 28px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-extra-large-bold {
	font-size: 19px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 28px;
	text-decoration: none;
	text-transform: none;
}
.text-paragraph-small-regular {
	font-size: 13px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	text-transform: none;
}
.text-ui-large-bold {
	font-size: 17px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0.002em;
	text-decoration: none;
	text-transform: none;
}
.text-ui-medium-regular {
	font-size: 15px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	text-transform: none;
}
.text-ui-medium-bold {
	font-size: 15px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 20px;
	letter-spacing: 0.002em;
	text-decoration: none;
	text-transform: none;
}
.text-header-small {
	font-size: 18px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
}
.text-header-medium {
	font-size: 22px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 28px;
	text-decoration: none;
	text-transform: uppercase;
}
.text-header-large {
	font-size: 24px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 32px;
	text-decoration: none;
	text-transform: uppercase;
}
.text-header-extra-large {
	font-size: 48px;
	font-family: var(--font-sf);
	font-weight: 700;
	font-style: normal;
	line-height: 56px;
	letter-spacing: -0.01em;
	text-decoration: none;
	text-transform: none;
}
.text-display-large {
	font-size: 64px;
	font-family: var(--font-paytone);
	font-weight: normal;
	font-style: normal;
	line-height: 68px;
	letter-spacing: -0.01em;
	text-decoration: none;
	text-transform: none;
}
.whitespace-no-wrap {
	white-space: nowrap!important;
}