<!-- Question 2 -->
<div class='reviewwrite-question' id="answer2">
  <input class="answerinput" type="hidden" id="answer2Input" value=""/>
  <input class="titleinput" type="hidden" id="answer2InputTitle" value=""/>
  <input class="ratinginput" type="hidden" id="rating2Input" value=""/>
  <div class="row">
    <div class="six columns">
      <div class="question">Was it paced well?</div>
    </div>
    <div class="six columns">
      <ul class="question-stars" id="question2Stars">
        <li title="Poor" data-value="1" data-answer="answer2-rating1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Fair" data-value="2" data-answer="answer2-rating2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Average" data-value="3" data-answer="answer2-rating3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Good" data-value="4" data-answer="answer2-rating4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Excellent" data-value="5" data-answer="answer2-rating5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- Answer 2 -->
  <div class="answer-box rating1" data-answer-id="answer2-rating1">
    <h3 class="answer-title" id="answer2_1">It felt like work.</h3>
    <input type="radio" name="answer2_1" id="answer2_1a" value="answer2_1a" class="hidden">
    <label for="answer2_1a"><span class="book-title">this book</span> was a slog to get through, and many scenes felt out of place. I found it easy to put down.</label>
  </div>
  <div class="answer-box rating2" data-answer-id="answer2-rating2">
    <h3 class="answer-title" id="answer2_2">It was tedious.</h3>
    <input type="radio" name="answer2_2" id="answer2_2a" value="answer2_2a" class="hidden">
    <label for="answer2_2a"><span class="book-title">this book</span> was a slow-moving, go-nowhere story that I rushed to finish. It felt like work to read.</label>
  </div>
  <div class="answer-box rating3" data-answer-id="answer2-rating3">
    <h3 class="answer-title" id="answer2_3">It was steady.</h3>
    <input type="radio" name="answer2_3" id="answer2_3a" value="answer2_3a" class="hidden">
    <label for="answer2_3a">The story didn't draw me in, and I got bored and had to force myself to keep reading.</label>
  </div>
  <div class="answer-box rating4" data-answer-id="answer2-rating4">
    <h3 class="answer-title" id="answer2_4">It was engaging.</h3>
    <input type="radio" name="answer2_4" id="answer2_4a" value="answer2_4a" class="hidden">
    <label for="answer2_4a">I found it hard to put <span class="book-title">this book</span> down. It was fast-paced, engaging and suspenseful; a joy to read.</label>
  </div>
  <div class="answer-box rating5" data-answer-id="answer2-rating5">
    <h3 class="answer-title" id="answer2_5">It was addicting.</h3>
    <input type="radio" name="answer2_5" id="answer2_5a" value="answer2_5a" class="hidden">
    <label for="answer2_5a"><span class="book-title">This book</span> kept me spell bound, and I was compelled to keep reading. Each scene flowed smoothly from one to the next.</label>
  </div>
</div>