<!-- Question 6 -->
<div class='reviewwrite-question' id="answer6">
  <input class="answerinput" type="hidden" id="answer6Input" value=""/>
  <input class="titleinput" type="hidden" id="answer6InputTitle" value=""/>
  <input class="ratinginput" type="hidden" id="rating6Input" value=""/>
  <div class="row">
    <div class="six columns">
      <div class="question">How were the editing and production?</div>
    </div>
    <div class="six columns">
      <ul class="question-stars" id="question7-stars">
        <li title="Poor" data-value="1" data-answer="answer6-rating1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Fair" data-value="2" data-answer="answer6-rating2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Average" data-value="3" data-answer="answer6-rating3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Good" data-value="4" data-answer="answer6-rating4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Excellent" data-value="5" data-answer="answer6-rating5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- Answer 6 -->
  <div class="answer-box rating1" data-answer-id="answer6-rating1">
    <h3 class="answer-title" id="answer6_1">Awful design and editing.</h3>
    <input type="radio" name="answer6_1" id="answer6_1a" value="answer6_1a" class="hidden">
    <label for="answer6_1a"><span class="book-title">this book</span> was very poorly written with countless generic descriptions. It was full of typographical and grammar errors that took me out of the moment. The cover design and page layout were bad.</label>
  </div>
  <div class="answer-box rating2" data-answer-id="answer6-rating2">
    <h3 class="answer-title" id="answer6_2">Poor design and editing.</h3>
    <input type="radio" name="answer6_2" id="answer6_2a" value="answer6_2a" class="hidden">
    <label for="answer6_2a">The prose was awkward. The descriptions were sparse. When the author did describe something, it was bland and lazy, using cliche-ridden, dumbed down prose. There were many typographical and grammar errors that took me out of the moment, and the cover design and page layout were poor.</label>
  </div>
  <div class="answer-box rating3" data-answer-id="answer6-rating3">
    <h3 class="answer-title" id="answer6_3">Decent design and editing.</h3>
    <input type="radio" name="answer6_3" id="answer6_3a" value="answer6_3a" class="hidden">
    <label for="answer6_3a">The writing was amateurish and there were some inconsistencies in the style. The action scenes were not overly engaging, and the exposition was a bit long. There were typographical and grammar errors that took me out of the moment. The cover design and page layout were good.</label>
  </div>
  <div class="answer-box rating4" data-answer-id="answer6-rating4">
    <h3 class="answer-title" id="answer6_4">Good design and editing.</h3>
    <input type="radio" name="answer6_4" id="answer6_4a" value="answer6_4a" class="hidden">
    <label for="answer6_4a">The text was well written and engaging. The writing style was consistent and the exposition didn't slow the plot overly much. There were a few typographical and grammar errors, but not enough to take me out of the moment. Great cover design and page layout.</label>
  </div>
  <div class="answer-box rating5" data-answer-id="answer6-rating5">
    <h3 class="answer-title" id="answer6_5">Perfect design and editing.</h3>
    <input type="radio" name="answer6_5" id="answer6_5a" value="answer6_5a" class="hidden">
    <label for="answer6_5a">I am blown away by the author’s ability to write such engaging, real-life, entertaining, phenomenal scenes. The writing style was consistent and used precise words so that exposition didn't slow the pace. There were no typographical and grammar errors that I remember, and the cover design and page layout were beautiful.</label>
  </div>
</div>