<div class="ui big two column stackable grid reviewwrite-question" id="answer1">
  <div class="column">
    <h3 class=" question">Overall, how much did you enjoy <span class="book-title">this book</span>?</h3>
    <input class="answerinput" type="hidden" id="answer1Input" value=""/>
    <input class="titleinput" type="hidden" id="answer1InputTitle" value=""/>
    <input class="ratinginput" type="hidden" id="rating1Input" value=""/>
    <ul class="question-stars" id="question1Stars">
      <li title="Poor" data-value="1" data-answer="answer1-rating1">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li title="Fair" data-value="2" data-answer="answer1-rating2">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li title="Average" data-value="3" data-answer="answer1-rating3">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li title="Good" data-value="4" data-answer="answer1-rating4">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li title="Excellent" data-value="5" data-answer="answer1-rating5">
        <i class="fa fa-star fa-fw"></i>
      </li>
    </ul>
  </div>
  <div class="column">
    <!-- Answer 1 -->
    <div class="answer-box rating1" data-answer-id="answer1-rating1">
      <h3 class="answer-title" id="answer1_1">I hated <span class="book-title">this book</span>.</h3>
      <p>Now, choose all the responses that explain why you hated <span class="book-title">this book</span>.</p>
      <div class="ui vertical basic big buttons segments responses">
        <input class="sr-only" type="checkbox" id="answer1_1a">
        <label class="ui button" for="answer1_1a"><span class="book-title">This book</span> was astonishingly boring.</label>
        <input class="sr-only" type="checkbox" id="answer1_1b">
        <label class="ui button" for="answer1_1b">This was the worst book I have read in a long time.</label>
        <input class="sr-only" type="checkbox" id="answer1_1c">
        <label class="ui button" for="answer1_1c">I had to force myself to finish <span class="book-title">this book</span>.</label>
        <input class="sr-only" type="checkbox" id="answer1_1d">
        <label class="ui button" for="answer1_1d">The storyline was simply unbelievable.</label>
        <input class="sr-only" type="checkbox" id="answer1_1e">
        <label class="ui button" for="answer1_1e">The characters were unrealistic.</label>
        <input class="sr-only" type="checkbox" id="answer1_1f">
        <label class="ui button" for="answer1_1f">I found myself skipping long, turgid sections of description.</label>
        <input class="sr-only" type="checkbox" id="answer1_1g">
        <label class="ui button" for="answer1_1g">I skipped past pages of boring dialogue.</label>
        <input class="sr-only" type="checkbox" id="answer1_1h">
        <label class="ui button" for="answer1_1h">I fell asleep reading <span class="book-title">this book</span>.</label>
        <input class="sr-only" type="checkbox" id="answer1_1i">
        <label class="ui button" for="answer1_1i">I would not recommend <span class="book-title">this book</span> to anyone.</label>
        <input class="sr-only" type="checkbox" id="answer1_1j">
        <label class="ui button" for="answer1_1j">This was a terrible example of the genre.</label>
      </div>
    </div>
    <div class="answer-box rating2" data-answer-id="answer1-rating2">
      <h3 class="answer-title" id="answer1_2">I disliked <span class="book-title">this book</span>.</h3>
      <p>Now, choose all the responses that explain why you disliked <span class="book-title">this book</span>.</p>
      <div class="responses">
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2a">
          <label for="answer1_2a"><span class="book-title">This book</span> had very little going for it.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2b">
          <label for="answer1_2b"><span class="book-title">This book</span> was too simple and naive.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2c">
          <label for="answer1_2c">This was one of the most disappointing books I've ever read.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2d">
          <label for="answer1_2d"><span class="book-title">This book</span> was poorly written with countless generic descriptions.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2e">
          <label for="answer1_2e">I often got bored and had to force myself to keep reading.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2f">
          <label for="answer1_2f"><span class="book-title">This book</span> developed in a convoluted manner.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2g">
          <label for="answer1_2g"><span class="book-title">This book</span> meandered through the middle and I didnt like the ending.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2h">
          <label for="answer1_2h">When the author did describe something, it was bland and lazy, using cliche-ridden, dumbed down prose.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2i">
          <label for="answer1_2i"><span class="book-title">This book</span> was a bit boring and contrived. There was nothing fresh.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2j">
          <label for="answer1_2j">The premise was good, but <span class="book-title">this book</span> got waylaid by tired tropes.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2k">
          <label for="answer1_2k">I would not recommend <span class="book-title">this book</span> to fans of the genre.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2l">
          <label for="answer1_2l"><span class="book-title">This book</span> was a poor example of the genre.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_2m">
          <label for="answer1_2m"><span class="book-title">This book</span> was a pain to read.</label>
        </div>
      </div>
    </div>
    <div class="answer-box rating3" data-answer-id="answer1-rating3">
      <h3 class="answer-title" id="answer1_3"><span class="book-title">This book</span> was okay.</h3>
      <p>Now, choose all the responses that explain why you thought <span class="book-title">this book</span> was okay.</p>
      <div class="responses">
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3a">
          <label for="answer1_3a">I was very sure that <span class="book-title">this book</span> would become one of my favorites, but the story didn't draw me in.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3b">
          <label for="answer1_3b"><span class="book-title">This book</span> was such a special read.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3c">
          <label for="answer1_3c"><span class="book-title">This book</span> had true potential, but the telling left much to be desired.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3d">
          <label for="answer1_3d">I thought <span class="book-title">this book</span> was going to be better than it turned out to be.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3e">
          <label for="answer1_3e"><span class="book-title">This book</span> started and ended strong, but the middle was hazy.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3f">
          <label for="answer1_3f">It felt like work to read this disjointed book.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3g">
          <label for="answer1_3g">So many things didn't make sense.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3h">
          <label for="answer1_3h">The narrative jumped around, leaving me confused.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3i">
          <label for="answer1_3i">The characters made irrational choices in order to move the plot forward.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3j">
          <label for="answer1_3j">All the tropes were familiar and nothing was groundbreaking.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3k">
          <label for="answer1_3k">The writing was occasionally good, with a few genuinely humourous moments and some highly quotable lines.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3l">
          <label for="answer1_3l">Nothing was resolved at the ending of <span class="book-title">this book</span>.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3m">
          <label for="answer1_3m"><span class="book-title">This book</span> was a solid, enjoyable story if somewhat predictable.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_3n">
          <label for="answer1_3n"><span class="book-title">This book</span> had so much potential but ultimately let me down.</label>
        </div>
      </div>
    </div>
    <div class="answer-box rating4" data-answer-id="answer1-rating4">
      <h3 class="answer-title" id="answer1_4">I liked <span class="book-title">this book</span>.</h3>
      <p>Now, choose all the responses that explain why you liked <span class="book-title">this book</span>.</p>
      <div class="responses">
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4a">
          <label for="answer1_4a"><span class="book-title">This book</span> kept me interested until the end.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4b">
          <label for="answer1_4b"><span class="book-title">This book</span> was a very good and interesting read.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4c">
          <label for="answer1_4c"><span class="book-title">This book</span> had true potential. </label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4d">
          <label for="answer1_4d">If you want engaging material, then look no further.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4e">
          <label for="answer1_4e"><span class="book-title">This book</span> was well written and engaging.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4f">
          <label for="answer1_4f"><span class="book-title">This book</span> evoked emotion.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4g">
          <label for="answer1_4g">The story was beautifully written, with a consistent style and tone, and efficiency of description that didn't slow the pace.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4h">
          <label for="answer1_4h"><span class="book-title">This book</span> was original, and well written. An excellent addition to the genre.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4i">
          <label for="answer1_4i"><span class="book-title">This book</span> had standard tropes delivered with a smooth writing style.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4j">
          <label for="answer1_4j">This was a smooth flowing story with lots of action and very likeable characters.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4k">
          <label for="answer1_4k">The dialogue in <span class="book-title">this book</span> was nice and tight.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4l">
          <label for="answer1_4l">I would recommend <span class="book-title">this book</span> to any fan of the genre.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4m">
          <label for="answer1_4m"><span class="book-title">This book</span> was a great example of the genre.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_4n">
          <label for="answer1_4n"><span class="book-title">This book</span> was a joy to read.</label>
        </div>
      </div>
    </div>
    <div class="answer-box rating5" data-answer-id="answer1-rating5">
      <h3 class="answer-title" id="answer1_5">I loved <span class="book-title">this book</span>.</h3>
      <p>Now, choose all the responses that explain why you loved <span class="book-title">this book</span>.</p>
      <div class="responses">
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5a">
          <label for="answer1_5a">This was my favorite book of the year by far.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5b">
          <label for="answer1_5b"><span class="book-title">This book</span> was impossible to put down.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5c">
          <label for="answer1_5c">I wish I could read <span class="book-title">this book</span> again for the first time.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5d">
          <label for="answer1_5d"><span class="book-title">This book</span> was excellent, a real page-turner.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5e">
          <label for="answer1_5e"><span class="book-title">This book</span> was fast-paced, engaging and suspenseful.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5f">
          <label for="answer1_5f">Everything about <span class="book-title">this book</span> was beautifully complex.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5g">
          <label for="answer1_5g"><span class="book-title">This book</span> kept me spell bound, and I was compelled to keep reading.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5h">
          <label for="answer1_5h">There were scenes and lines that made me sit there and cry. Or laugh. Or cheer.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5i">
          <label for="answer1_5i">I was blown away by the author’s ability to write such phenomenal scenes.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5j">
          <label for="answer1_5j"><span class="book-title">This book</span> forced me to feel the characters' emotions.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5k">
          <label for="answer1_5k"><span class="book-title">This book</span> has ruined me for all other books!</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5l">
          <label for="answer1_5l">I'll be thinking about <span class="book-title">this book</span> for a long time to come.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5m">
          <label for="answer1_5m">I would recommend <span class="book-title">this book</span> to anyone.</label>
        </div>
        <div class="ui segment response">
          <input type="checkbox" id="answer1_5n">
          <label for="answer1_5n">Read <span class="book-title">this book</span>! I promise, you’ll be hooked.</label>
        </div>
      </div>
    </div>
  </div>
</div>