<!-- Question 4 -->
<div class='reviewwrite-question' id="answer4">
  <input class="answerinput" type="hidden" id="answer4Input" value=""/>
  <input class="titleinput" type="hidden" id="answer4InputTitle" value=""/>
  <input class="ratinginput" type="hidden" id="rating4Input" value=""/>
  <div class="row">
    <div class="six columns">
      <div class="question">How were the characters?</div>
    </div>
    <div class="six columns">
      <ul class="question-stars" id="question4-stars">
        <li title="Poor" data-value="1" data-answer="answer4-rating1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Fair" data-value="2" data-answer="answer4-rating2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Average" data-value="3" data-answer="answer4-rating3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Good" data-value="4" data-answer="answer4-rating4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Excellent" data-value="5" data-answer="answer4-rating5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- Answer 4 -->
  <div class="answer-box rating1" data-answer-id="answer4-rating1">
    <h3 class="answer-title" id="answer4_1">I hated them.</h3>
    <p>Now, choose which response best explains why you hated the characters.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer4_1" id="answer4_1a" value="answer4_1a">
        <label for="answer4_1a">I don’t remember disliking characters this much. They were constantly arguing or making irrational, unjustified decisions. I can't think of any charming character moments.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer4_1" id="answer4_1b" value="answer4_1b">
        <label for="answer4_1b">The characters were unrealistic and forgettable. They all sounded the same. I didn't like them and couldn't relate to any of the characters.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating2" data-answer-id="answer4-rating2">
    <h3 class="answer-title" id="answer4_2">They were unrealistic.</h3>
    <p>Now, choose which response best explains why the characters were unrealistic.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer4_2" id="answer4_2a" value="answer4_2a">
        <label for="answer4_2a">The characters were two-dimensional and lacked depth. I struggled to empathize, relate to, or care about what happened to them.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer4_2" id="answer4_2b" value="answer4_2b">
        <label for="answer4_2b">The characters were not believable or memorable at all. They all sounded like the same person. I didn't care or relate to their problems.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating3" data-answer-id="answer4-rating3">
    <h3 class="answer-title" id="answer4_3">They were forgettable.</h3>
    <p>Now, choose which response best explains why the characters were forgettable.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer4_3" id="answer4_3a" value="answer4_3a">
        <label for="answer4_3a">There wasn't enough time developing the characters themselves, leaving them difficult to root for. Yet, I sympathized with them, even when they conflicted with one another and the plot.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer4_3" id="answer4_3b" value="answer4_3b">
        <label for="answer4_3b">The characters were two dimensional, generic, and forgettable. I struggled to relate to them, or care what happened to them, but they didn't get in the way of the story.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating4" data-answer-id="answer4-rating4">
    <h3 class="answer-title" id="answer4_4">They were believable.</h3>
    <p>Now, choose which response best explains why the characters were believable.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer4_4" id="answer4_4a" value="answer4_4a">
        <label for="answer4_4a">The characters were complicated, and deeply human, with their own strengths and weaknesses, but they didn't develop or grow over the course of the book.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer4_4" id="answer4_4b" value="answer4_4b">
        <label for="answer4_4b">The characters were well written, memorable, and distinctive. I found them easy to relate to, but at times they were unbelieveable, or made choices not true to their character.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating5" data-answer-id="answer4-rating5">
    <h3 class="answer-title" id="answer4_5">They felt real.</h3>
    <p>Now, choose which response best explains why the characters felt real.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer4_5" id="answer4_5a" value="answer4_5a">
        <label for="answer4_5a">The characters each played a vital role in <span class="book-title">this book</span>. I connected to these characters so deeply that I didn't want their story to end. I was totally invested in them throughout the entire book.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer4_5" id="answer4_5b" value="answer4_5b">
        <label for="answer4_5b">The characters were so real and memorable that they could step outside the pages and be in the room with you. I cared what happened to them as if they were my own friends and family. </label>
      </div>
    </div>
  </div>
</div>