<!-- Question 5 -->
<div class='reviewwrite-question' id="answer5">
  <input class="answerinput" type="hidden" id="answer5Input" value=""/>
  <input class="titleinput" type="hidden" id="answer5InputTitle" value=""/>
  <input class="ratinginput" type="hidden" id="rating5Input" value=""/>
  <div class="row">
    <div class="six columns">
      <div class="question">How immersive did it feel?</div>
    </div>
    <div class="six columns">
      <ul class="question-stars" id="question5-stars">
        <li title="Poor" data-value="1" data-answer="answer5-rating1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Fair" data-value="2" data-answer="answer5-rating2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Average" data-value="3" data-answer="answer5-rating3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Good" data-value="4" data-answer="answer5-rating4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Excellent" data-value="5" data-answer="answer5-rating5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- Answer 5 -->
  <div class="answer-box rating1" data-answer-id="answer5-rating1">
    <h3 class="answer-title" id="answer5_1">Completely unrealistic settings.</h3>
    <input type="radio" name="answer5_1" id="answer5_1a" value="answer5_1a" class="hidden">
    <label for="answer5_1a"><span class="book-title">this book</span> lacked the detail I needed to immerse myself, and the world-building was unbelievable. Action scenes were confusing and lacked tension.</label>
  </div>
  <div class="answer-box rating2" data-answer-id="answer5-rating2">
    <h3 class="answer-title" id="answer5_2">Poor setting descriptions.</h3>
    <input type="radio" name="answer5_2" id="answer5_2a" value="answer5_2a" class="hidden">
    <label for="answer5_2a">The settings in <span class="book-title">this book</span> were difficult to visualise, and there wasn't much world-building. Action scenes were hard to follow and lacked purpose.</label>
  </div>
  <div class="answer-box rating3" data-answer-id="answer5-rating3">
    <h3 class="answer-title" id="answer5_3">Well thought out settings.</h3>
    <input type="radio" name="answer5_3" id="answer5_3a" value="answer5_3a" class="hidden">
    <label for="answer5_3a">The world-building was robust but didn't utilize the character's senses or mood making the setting hard to visualize. Action scenes could have been written better.</label>
  </div>
  <div class="answer-box rating4" data-answer-id="answer5-rating4">
    <h3 class="answer-title" id="answer5_4">Superb setting descriptions.</h3>
    <input type="radio" name="answer5_4" id="answer5_4a" value="answer5_4a" class="hidden">
    <label for="answer5_4a">The world-building was superb and each scene was easy to visualize based on the character's senses and mood. Action scenes were vividly presented and easy to follow.</label>
  </div>
  <div class="answer-box rating5" data-answer-id="answer5-rating5">
    <h3 class="answer-title" id="answer5_5">Fully realistic settings.</h3>
    <input type="radio" name="answer5_5" id="answer5_5a" value="answer5_5a" class="hidden">
    <label for="answer5_5a"><span class="book-title">this book</span> provided a gripping glimpse of how the characters lived in this well-developed world, and the action was heart-pounding and effortless to visualize.</label>
  </div>
</div>