<!-- Question 3 -->
<div class='reviewwrite-question' id="answer3">
  <input class="answerinput" type="hidden" id="answer3Input" value=""/>
  <input class="titleinput" type="hidden" id="answer3InputTitle" value=""/>
  <input class="ratinginput" type="hidden" id="rating3Input" value=""/>
  <div class="row">
    <div class="six columns">
      <div class="question">Was the plot engaging?</div>
    </div>
    <div class="six columns">
      <ul class="question-stars" id="question3-stars">
        <li title="Poor" data-value="1" data-answer="answer3-rating1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Fair" data-value="2" data-answer="answer3-rating2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Average" data-value="3" data-answer="answer3-rating3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Good" data-value="4" data-answer="answer3-rating4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li title="Excellent" data-value="5" data-answer="answer3-rating5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
    </div>
  </div>
  <!-- Answer 3 -->
  <div class="answer-box rating1" data-answer-id="answer3-rating1">
    <h3 class="answer-title" id="answer3_1">What plot?</h3>
    <p>Now, choose which response explains why <span class="book-title">this book</span> lacked a plot.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer3_1" id="answer3_1a" value="answer3_1a">
        <label for="answer3_1a">It felt long, but like not much happened. It was all just highly unbelievable but could have been much more interesting with a rethinking of the plot.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer3_1" id="answer3_1b" value="answer3_1b">
        <label for="answer3_1b"><span class="book-title">this book</span> was full of inconsistencies and plot holes that made it extremely hard to follow. It lacked a plot altogether, and nothing was resolved.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating2" data-answer-id="answer3-rating2">
    <h3 class="answer-title" id="answer3_2">Not much of a plot.</h3>
    <p>Now, choose which response best explains why <span class="book-title">this book</span> didn't have much of a plot.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer3_2" id="answer3_2a" value="answer3_2a">
        <label for="answer3_2a">Most of the time it felt like characters were just explaining things to each other for the whole book - meanwhile, not much was going on in terms of plot.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer3_2" id="answer3_2b" value="answer3_2b">
        <label for="answer3_2b">The characters were not in sync with the plot and took me out of the moment. There didn't seem to be a larger goal, and the conclusion was not satisfying.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating3" data-answer-id="answer3-rating3">
    <h3 class="answer-title" id="answer3_3">The plot was okay.</h3>
    <p>Now, choose which response best explains why <span class="book-title">this book</span>'s plot was just okay.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer3_3" id="answer3_3a" value="answer3_3a">
        <label for="answer3_3a">The plot drifted aimlessly toward an unsatisfying conclusion. The characters lacked agency, and were prisoners to the story.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer3_3" id="answer3_3b" value="answer3_3b">
        <label for="answer3_3b">Interludes of pointless drama broke up a monotonous narrative that was hard to follow. Things just happened and I was left with questions that never get answered.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating4" data-answer-id="answer3-rating4">
    <h3 class="answer-title" id="answer3_4">The plot was good.</h3>
    <p>Now, choose which response best explains why <span class="book-title">this book</span>'s plot was good.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer3_4" id="answer3_4a" value="answer3_4a">
        <label for="answer3_4a">Each scene lead toward a larger goal, but the ending left some questions unanswered. <span class="book-title">this book</span> seems to be set up for a sequel, and didn't resolve the current plot.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer3_4" id="answer3_4b" value="answer3_4b">
        <label for="answer3_4b"><span class="book-title">This book</span> started and ended strong, but the timeline was a bit hazy at points. The story sagged in the middle, leaving the characters without purpose.</label>
      </div>
    </div>
  </div>
  <div class="answer-box rating5" data-answer-id="answer3-rating5">
    <h3 class="answer-title" id="answer3_5">The plot was perfect.</h3>
    <p>Now, choose which response best explains why <span class="book-title">this book</span>'s plot was perfect.</p>
    <div class="responses">
      <div class="response">
        <input type="radio" name="answer3_5" id="answer3_5a" value="answer3_5a">
        <label for="answer3_5a">There were scenes and lines that made me sit there and cry. Or laugh. Or cheer. The characters drove the plot to a satisfying conclusion, and resolved every issue.</label>
      </div>
      <div class="response">
        <input type="radio" name="answer3_5" id="answer3_5b" value="answer3_5b">
        <label for="answer3_5b">The plot was cleverly woven, with each scene leading toward a larger goal. The conclusion answered all the questions the story asked, and resolved the plot. It started and ended strong.</label>
      </div>
    </div>
  </div>
</div>