<section class="ui inverted vertical segment reviewsteps reviewstep1 hideEditable">
  <div class="ui inverted very padded segment">
    <div class="ui middle aligned grid">
      <div class="row">
        <div class="ten wide column">
          <div class="noBookTitle">
            <div class="ui inverted header">Step 1 of 3</div>
            <h1 class="h2" id="step1title1">Fill in the title of your book.</h1>
            <div class="ui big fluid left icon input">
              <input type="text" placeholder="For example: Harry Potter and the Sorcerers Stone" id="bookTitle" required aria-labeled-by="step1title1">
              <i class="book icon"></i>
            </div>
            <div class="ui inverted horizontal divider">then</div>
            <h2 class="h2" id="step1title2">Share the link.</h2>
            <div class="ui big fluid labeled input">
              <div class="ui label">http://</div>
              <input type="text" placeholder="bookreview.io/your-book-title" value="" aria-labeled-by="step1title2">
            </div>
            <div class="ui divider"></div>
            <p>Authors: <a href="/faq#customurl">Read how to use your custom URL</p>
          </div>
        </div>
        <div class="six wide column" style="position:relative">
          <div class="bookcover">
            <div class="tagline"></div>
            <div id="title-container">
              <h1 class="h2 title"><span class="book-title">Book Title</span></h1>
            </div>
            <div class="author"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
