<section class="ui vertical segment reviewsteps reviewstep2 hideCustomize hideEditable" style="display:none">
  <div class="ui very padded segment">
    <div class="ui very padded segments">
      <div class="ui segment">
        <div class="media">
          <img alt="book review image" class="ui small image" src="/images/book-review.svg">
          <div class="media-body">
            <div class="ui header">Step 2 of 3</div>
            <h2>Use the star ratings to generate your review.</h2>
          </div>
        </div>
      </div>
      <div class="ui segment">
        {% include "generator/question1.njk" %}
      </div>
    </div>
  </div>
</section>
