<section class="ui vertical segment reviewsteps reviewstep3 hideCustomize hideEditable" style="display:none">
  <div class="ui very padded segment">
    <div class="ui very padded segments">
      <div class="ui segment">
        <div class="media">
          <img alt="book review image" class="ui small image" src="/images/book-open-flat.svg">
          <div class="media-body">
            <div class="ui header">Step 3 of 3</div>
            <h2>Customize your book review.</h2>
          </div>
        </div>
      </div>
      <div class="ui segment">
        <h3>Write a BRIEF SUMMARY of <span class="book-title">this book</span> in your own words.</h3>
        <div class="ui huge form">
          <div class="field">
            <label class="sr-only" for="bookSummary">Personalized review</label>
            <textarea rows="3" placeholder="For example: The Sorcerer's Stone is about a boy name Harry Potter who learns he is a wizard. He receives an invitation to join Hogwarts, the best school of Witchcraft in the world, from a giant named Hagrid." rows="4" id="bookSummary"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ui vertical segment reviewsteps technical hideCustomize hideEditable" style="display:none">
  <div class="ui very padded segment">
    <div class="ui very padded segments">
      <div class="ui segment">
        <div class="media">
          <img alt="book review image" class="ui medium image" src="/images/arabica-30.png">
          <div class="media-body">
            <h3>Did you receive a free copy?</h3>
            <div class="ui huge form">
              <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" id="freeCopy" name="freeCopy">
                  <label for="freeCopy">Yes, I received a free copy for a fair and impartial review.</label>
                </div>
              </div>
            </div>
            <div class="ui divider"></div>
            <p><small>Those that have paid for a book may have a different perspective compared with those that received a free copy from a contest, as a gift, or during a promotion. Books given free to reviewers from the author or publisher are not a reward, they are a review copy.</small></p>
            <p><small><strong>Note:</strong> Knowing the author does not violate the <a href="https://www.amazon.com/gp/help/customer/display.html/ref=hp_left_v4_sib?ie=UTF8&nodeId=201929730">Community Guidelines</a>, but it may affect how your review is received among your peers.</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
