<section class="ui vertical segment reviewsteps technical hideCustomize hideEditable" style="display:none">
  <div class="ui very padded segment">
    <div class="ui very padded segments">
      <div class="ui segment">
        <h2>Technical Review Questions</h2>
        <p>These are five additional questions that deal with more technical aspects of <span class="book-title">this book</span>, such as plot, characters, pacing, setting, editing, and production. This is your chance to expand your review.</p>
        <p><button class="ui black basic button" id="showTechnical">Let's get technical!</button></p>
      </div>
      <div class="ui segment" id="technicalQuestions">
        {% include "generator/question3.njk" %}
        {% include "generator/question4.njk" %}
        {% include "generator/question2.njk" %}
        {% include "generator/question5.njk" %}
        {% include "generator/question6.njk" %}
      </div>
    </div>
  </div>
</section>
