/* Amazon Autocomplete */

.ac__container {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
.ac__inner {
  background: white;
  box-shadow: 0 6px 23px rgba(0,0,0, 0.2);
  border-radius: 0px 0px 3px 3px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}
.ac__word {
  color: var(--mainColor);
  margin: 0;
  padding: 5px;
  padding-left: 18px;
}
.ac__word:hover {
  background-color: var(--lightGray);
}
.ac__title {
  display: block;
}
.ac__word--selected {
  background-color: rgba(91, 87, 230, 0.11) !important;
}
.ac__author {
  color: var(--mainColorWeak);
  display: block;
  text-align: right;
}
