.home > .ui.segment {
  padding: 5rem 0;

  .content {
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
  }

  .grid .column {
    padding: 5em;
  }

  h1,
  .h1 {
    font-size: 3.5rem;
  }

  h2,
  .h2 {
    font-size: 2.75em;
  }

  h3,
  .h3 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.25em;

    &.lead {
      font-size: 1.5em;
    }
  }

  .quotemark {
    color: $manhattan;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
    font-weight: bolder;
    letter-spacing: -2px;
  }

  &.reviewsample {
    background-color: lighten($manhattan, 10);
    border: 0 none;

    blockquote {
      background: $white;
      border-radius: 6px;
      color: var(--mainColor);
      margin: 0;
      padding: 2.5rem 2rem 2.5rem 5rem;
      position: relative;

      .quotemark {
        left: 25px;
        position: absolute;
        top: 45px;
      }
    }
  }

  &.alternate {
    background-color: $lightgray;
  }

  &.contact {
    background-color: $deepblue;
  }

  &.quote {
    padding: 0;
  }

  &.testimonial {
    background-color: $deepblue;

    h2 {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }

    .item .content {
      text-transform: uppercase;

      span {
        color: $manhattan;
      }
    }

    .quote {
      font-family: 'Alegreya', serif;
      font-size: 1.5em;
      line-height: 1.625em;
      margin: 2em 0;
      position: relative;
    }

    .quotemark {
      left: 0;
      padding-right: 5px;
      position: absolute;
      top: 15px;
      transform: translate3d(-100%, 0, 0);
    }

    .testimonial-item {
      padding: 0 64px 1em;
    }

    .ui.circular.image {
      height: 80px;
      overflow: hidden;
      width: 80px;

      img {
        min-height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }

  @media only screen and (min-width: 800px) {

    &.testimonial {

      .quote {
        font-size: 2.5rem;
        line-height: 3.75rem;
      }

      .quotemark {
        font-size: 135px;
        padding-right: 25px;
        top: 30px;
      }

      .slider {
        font-size: 18px;
      }

      .testimonial-item {
        padding-left: 95px;
        padding-right: 64px;
      }
    }
  }

  @media only screen and (min-width: 992px) {

    &.testimonial {

      .slider {
        font-size: 20px;
      }

      .testimonial-item {
        padding-left: 117px;
        padding-right: 117px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {

    &.testimonial {

      .slider {
        font-size: 24px;
      }

      .testimonial-item {
        padding-left: 214px;
        padding-right: 214px;
      }
    }
  }
}