/* Rating Star Widgets Style */
.question-stars {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;

  > li {
    display: inline-block;
    margin-bottom: 0;

    /* Idle State of the stars */
    > i.fa {
      font-size: 1.5em; /* Change the size of the stars */
      color: #ccc; /* Color on idle state */
    }

    /* Hover state of the stars */
    &.hover > i.fa {
      color: #FFCC36;
    }

    /* Selected state of the stars */
    &.selected > i.fa {
      color: #FF912C;
    }
  }

  /* Larger than tablet */
  @media (min-width: 750px) {

    > li {

      > i.fa {
        font-size: 2em;
      }
    }
  }

  /* Larger than desktop */
  @media (min-width: 1000px) {

    > li {

      > i.fa {
        font-size: 2.5em;
      }
    }
  }
}
