body.pushable>.pusher.generator {
  background-color: $deepblue;
}

.copied {
  animation-duration: 1s;
  animation-name: pulse;
}

.answer-box {
  display: none;

  &.active {
    display: block;
  }
}

.bookcover {
  @include aspect-ratio(10px, 16px);
  background: #fff;
  border-radius: 16px;
  box-shadow: 16px 16px 4px rgba(0,0,0,.2);
  color: $deepblue;
  margin: auto;
  max-width: 400px;
  position: relative;
  text-align: center;

  &::after {
    border: 8px solid lighten($deepblue, 50);
    border-radius: 8px;
    bottom: 1em;
    content: " ";
    left: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  i {
    font-style: normal;
  }

  .tagline {
    left: 0;
    position: absolute;
    right: 0;
    top: 60px;
  }

  .title {
    left: 48px;
    position: absolute;
    right: 48px;
    top: 30%;
  }
}

@keyframes pulse {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: var(--lightOrange);
  }
  100% {
    background-color: transparent;
  }
}

.ui.reviewsteps.segment,
.ui.reviewpost.segment {

  .media {

    .media-body {
      align-self: center;
      padding-left: 2rem;
    }
  }

  .ui.header {
    text-transform: uppercase;
  }

  .ui.segments .ui.segment {
    background-color: #f5f5f5;
    padding: 2rem;

    &:first-child {
      background-color: #fff;
    }
  }

  .ui.items>.item {
    margin: 2rem 0;
  }
}

.ui.reviewstep2.segment {
  // background-color: #f5f5f5;
  background-color: $deepblue;
}

.ui.technical.segment {
  // background-color: #e5e5e5;
  background-color: $deepblue;
}

.ui.reviewstep3.segment {
  // background-color: #f5f5f5;
  background-color: $deepblue;
}

.reviewwrite-question {
  font-size: 20px;

  .ui.basic.buttons {
    background-color: #f5f5f5;
  }

  .responses {

    img {
      display: none;
      margin-right: 1rem;
    }

    .ui.button {
      text-align: left;
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    input[type="checkbox"]:active + label,
    input[type="radio"]:active + label {
      opacity: 1;
    }

    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background-color: lighten($green, 25) !important;
      border-color: $green !important;
      color: black !important;

      &:hover {
        background-color:  lighten($green, 25) !important;
      }
    }
  }
}

.edit-review {
  background: $lightgray;
  padding: 3rem;
  text-align: center;

  hr {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }
}

.final-rating {
  background: $lightgray;
  padding: 3rem;

  .question-stars {
    text-align: center;
  }
}

.final-review {
  background-color: var(--white);
  border-radius: 4px;
  color: var(--darkGray);
  margin-bottom: 4rem;
  overflow: hidden;

  input[type="checkbox"] {
    margin-bottom: 0;
  }
}

.final-review-actions {
  background: #e5e5e5;
  padding: 3rem 3rem 1.5rem;
  text-align: center;

  .amazon-review-button {
    background-color: var(--lightOrange);

    &:hover {
      background-color: var(--orange);
    }
  }

  .reset-review-button {
    margin-left: auto;
  }
}

.final-review-text {
  margin: 0;
  max-height: 400px;
  overflow: auto;
  padding: 3rem;
  white-space:      pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space:   -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  &.active {
    border: 2px solid var(--red);
  }
}

#final-stars {
  pointer-events: none;
}

@media (max-width: 999px) {
  .final-review-actions {

    button,
    .button {
      display: block;
      width: 100%;
    }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .final-review-actions {

    .buttons {
      display: flex;
    }

    button,
    .button {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
