<!doctype html>
<html class="no-js" lang="en">
<head>
  {% include "partials/head.njk" %}
</head>
<body class="{{ bodyClass }}" >
  {% include "partials/body-before.njk" %}

  <!-- Page Contents -->
  <div class="pusher page generator">
    {% include "generator/generator.njk" %}
    {{ content | safe }}
  </div>
  {% include "partials/body-after.njk" %}
  <script>{% include "js/ratings.js" %}</script>
  </body>
</html>
