{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
	<header class="entry-header">
		<h1 class="paragraph-xl">Welcome to {{ .Title | markdownify }}</h1>
		<p class="display-lg">A platform for people who <span class="color-primary-700 block">love books.</span></p>
	</header>
	<p class="entry-content paragraph-xl">
		{{ .Content | markdownify }}
	</p>
	<footer class="entry-footer">
		{{ partial "social_icons.html" site.Params.socialIcons }}
	</footer>
</article>
<section class="section">
	<div class="section-header">
		<h2 class="header-lg">Top 10 Book Charts</h2>
	</div>
	<div class="row">
		<article class="post-entry card-list">
			<div class="entry-header card-list-header">
				<div class="media" style="--media-gap: 4px;">
					<div class="media-image">
						<div class="avatar square-48"></div>
					</div>
					<div class="media-content">
						<h3 class="paragraph-lg-bold">2022 Best Sellers</h3>
						<p class="paragraph-md">@nyt</p>
					</div>
				</div>
				<div class="action">
					<a class="button" href="#">Add</a>
				</div>
			</div>
			<div class="entry-content card-list-items">
				<div class="card-list-item">
					<div class="media" style="--media-gap: 4px;">
						<div class="media-image">
							<div class="number square-28">
								1
							</div>
						</div>
						<div class="media-content">
							Tomorrow, and Tomorrow, and…
						</div>
					</div>
					<div class="action">
						<a class="button" href="#">Buy</a>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<section class="container mx-auto section">
	<div class="section-header">
		<h2 class="header-lg">Recent Book Lists</h2>
	</div>
	<div class="columns">
		<div class="card-book card-book-horizontal">
			<div class="thumb"></div>
			<div class="content">
				<div class="description">
					<div class="header">
						<h3 class="title"></h3>
					</div>
				</div>
				<div class="actions"></div>
			</div>
		</div>
	</div>
</section>{{- end -}}