<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="#top">Home</a>
    <a class="item" href="#about">About</a>
    <a class="item" href="#pricing">Pricing</a>
    <div class="right item">
      <button class="ui circular secondary icon button opencontact">
        <i class="envelope icon"></i>
      </button>
      &nbsp;
      <button class="ui circular primary icon button opengenerator">
        <i class="tasks icon"></i>
      </button>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical sidebar menu left">
  <a class="active item">Home</a>
  <a class="item">About</a>
  <a class="item" href="#pricing">Pricing</a>
  <a class="item">Contact</a>
  <button class="item opencontact">Contact</button>
  <button class="item opengenerator">Generate Review</button>
  <a class="ui circular twitter icon button" href="twitter">
    <i class="twitter icon"></i>
  </a>
</div>