<div class="content">
  <h4 class="ui dividing header">Give us your feedback</h4>
  <div class="ui big equal width form">
    <div class="fields">
      <div class="field">
        <label>First name</label>
        <input type="text" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last name</label>
        <input type="text" placeholder="Last Name">
      </div>
    </div>
    <div class="field">
      <label>E-mail</label>
      <input type="email" placeholder="joe@schmoe.com">
    </div>
    <div class="field">
      <label>Feedback</label>
      <textarea spellcheck="false"></textarea>
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" checked="checked" name="contact-me" tabindex="0" class="hidden">
        <label>It's okay to contact me.</label>
      </div>
    </div>
    <div class="ui primary submit button">Submit</div>
  </div>
</div>