<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="four wide column">
        <img alt="Book Review logo" class="ui fluid image" src="images/logo-footer.png">
      </div>
      <div class="eight wide right floated column">
        <h4 class="ui header">An Amazon Affiliate</h4>
        <p>We are a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com and affiliated sites.</p>
        <p><a href="https://icons8.com">Illustrations by Ouch.pics</a></p>
      </div>
    </div>
    <div class="ui section divider"></div>
    <div class="ui horizontal small divided link list">
      <span class="item">&copy; 2019 Book Review.</span>
      <a class="item" href="https://www.mapleandpine.com/">Built with Maple and Pine</a>
      <a class="item" href="privacy.html">Privacy</a>
      <a class="item" href="https://www.bookreview.io/terms">Terms</a></div>
  </div>
</div>