<section class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="active item" href="#top">Home</a>
      <a class="item" href="#about">About</a>
      <a class="item" href="#pricing">Pricing</a>
      <a class="item" href="#review">Review</a>
      <div class="right item">
        <button class="ui big secondary button opencontact">
          <i class="envelope icon"></i>
          Contact
        </button>
        <button class="ui big primary button opengenerator">
          <i class="tasks icon"></i>
          Generate Review
        </button>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui header">{{ title }}<br>{{ subtitle }}</h1>
    <p>The best book review service for indie authors.</p>
    <p><button class="ui big primary button opengenerator">Generate Review</button></p>
    <img alt="blank book image" class="ui fluid image" src="images/arabica-31.png">
  </div>
</section>
