<section class="ui vertical alternate segment" id="section_pricing">
  <div class="ui container text center aligned row">
    <h3>Limited Time Offer</h3>
    <p class="lead">While we're testing our application you can take advantage of free unlimited custom URLs and use of the Book Review Generator.</p>
    <p><button class="ui big primary button opengenerator">Generate Review</button></p>
    <p><small>(Be sure to provide some feedback to our developers.)</small></p>
    <div class="ui section divider"></div>
  </div>
  <div class="ui container text center aligned row">
    <h3>Future Pricing</h3>
    <p>The price tier will become active after the beta period ends.</p>
  </div>
  <div class="ui container">
    <div class="ui two column centered padded grid">
      <div class="four column centered row">
        <div class="five wide column">
          <div class="ui raised segments">
            <div class="ui center aligned segment">Professional</div>
            <div class="ui blue center aligned secondary segment">
              <div class="ui statistic">
                <div class="value">
                  $9.99
                </div>
                <div class="label">
                  per month
                </div>
              </div>
            </div>
            <div class="ui center aligned segment">
              <p>Unlimited Custom Book URLs</p>
            </div>
            <div class="ui center aligned segment">
              <p>Book Review Generator</p>
            </div>
            <div class="ui center aligned segment">
              <p>Author Landing Page</p>
            </div>
            <div class="ui center aligned segment">
              <p>ARC Review Program</p>
            </div>
            <div class="ui center aligned segment">
              <p>Promote to Our Users</p>
            </div>
          </div>
          <div class="ui disabled big green fluid button">
            Select
          </div>
        </div>
        <div class="five wide column">
          <div class="ui raised segments">
            <div class="ui center aligned segment">Value</div>
            <div class="ui green center aligned secondary segment">
              <div class="ui statistic">
                <div class="value">
                  $0
                </div>
                <div class="label">
                  per month
                </div>
              </div>
            </div>
            <div class="ui center aligned segment">
              <p>Three Custom Book URLs</p>
            </div>
            <div class="ui center aligned segment">
              <p>Book Review Generator</p>
            </div>
          </div>
          <div class="ui disabled big green fluid button">
            Select
          </div>
        </div>
        <div class="five wide column">
          <div class="ui raised segments">
            <div class="ui center aligned segment">Basic</div>
            <div class="ui red center aligned secondary segment">
              <div class="ui statistic">
                <div class="value">
                  $4.99
                </div>
                <div class="label">
                  per month
                </div>
              </div>
            </div>
            <div class="ui center aligned segment">
              <p>Unlimited Custom Book URLs</p>
            </div>
            <div class="ui center aligned segment">
              <p>Book Review Generator</p>
            </div>
            <div class="ui center aligned segment">
              <p>ARC Review Program</p>
            </div>
          </div>
          <div class="ui disabled big green fluid button">
            Select
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
