<section class="ui vertical reviewsample segment">
  <div class="ui equal width stackable centered grid">
    <div class="middle aligned row">
      <div class="column">
        <div class="content">
          <h2>Book Review can help.</h2>
          <p>Our review generator will take your reader's reviews from plain to amazing!</p>
          <div class="ui horizontal divider">Before</div>
          <blockquote class="ui segment">
            <span class="quotemark">‘‘</span>
            <p>Such a fun read, I highly recommend!</p>
          </blockquote>
          <div class="ui horizontal divider">After</div>
          <blockquote class="ui segment reviewsample">
            <span class="quotemark">‘‘</span>
            <p>The Sorcerer's Stone is about a boy name Harry Potter who learns that he is a wizard and receives and invitation to join Hogwarts, the best school of Witchcraft in the world.</p>
            <p>I wish I could read Harry Potter And The Sorcerers Stone again for the first time. It kept me spell bound, and I was compelled to keep reading. I am blown away by the author’s ability to write such phenomenal scenes. Read it! I promise, you’ll be hooked.</p>
          </blockquote>
        </div>
      </div>
      <div class="column">
        <img alt="blank book image" class="ui fluid image" src="images/arabica-11.png">
      </div>
    </div>
  </div>
</section>