<section class="ui inverted vertical testimonial segment">
  <div class="ui text container row">
    <h2>These self-published authors trust Book Review</h2>
    <img alt="Decorative line" style="display: inline-block;margin-top: 32px;width: 86px;" src="https://images.ctfassets.net/88a6qmzs2wdz/4z7CLzBakU624mSWuAyoOm/3ca689652527965711e88d52f21dec0b/Line-01.svg">
  </div>
  <div class="ui container row">
    <div class="slider single-item">
      <div class="testimonial-item">
        <div class="quote">
          <span class="quotemark">‘‘</span>Book Review got me to stop begging for reviews, and saved me about 6 hours per month of horrible marketing work, which is priceless.
        </div>
        <div class="ui items">
          <div class="item">
            <div class="ui circular tiny image">
              <img src="https://pbs.twimg.com/profile_images/834493671785525249/XdLjsJX_.jpg" alt="">
            </div>
            <div class="middle aligned content">
              <span>Sabrina Simmons</span>, <i>Wanted for Evil</i>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="quote">
          <span class="quotemark">‘‘</span>Book Review has lifted a giant weight off my shoulders and freed up my time so I can focus on writing.
        </div>
        <div class="ui items">
          <div class="item">
            <div class="ui circular tiny image">
              <img src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg?h=350&auto=compress&cs=tinysrgb" alt="">
            </div>
            <div class="middle aligned content">
              <span>Patience Hunter</span>, <i>Cloaked Heart</i>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="quote">
          <span class="quotemark">‘‘</span>Book Review is so, so, SO much better than everything I ever did for marketing my book. And it was so easy. I just included their custom URL in my newsletter and BAM, instant success.
        </div>
        <div class="ui items">
          <div class="item">
            <div class="ui circular tiny image">
              <img src="https://pbs.twimg.com/profile_images/1068045383606005761/VxDQx_gA.jpg" alt="">
            </div>
            <div class="middle aligned content">
              <span>William Beck</span>, <i>The Midnight Citadel</i>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-item">
        <div class="quote">
          <span class="quotemark">‘‘</span>Book Review is a very slick service, I saw an immediate increase in the number of reviews on my latest book launch.
        </div>
        <div class="ui items">
          <div class="item">
            <div class="ui circular tiny image">
                <img src="https://randomuser.me/api/portraits/men/29.jpg" alt="">
            </div>
            <div class="middle aligned content">
              <span>Nicholas Gray</span>, <i>Snows of Arcadia</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
