@import '_variables';

$import-google-fonts: true !default;
$font-url: 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext' !default;
$font-name: 'Lato' !default;
$font-family: $font-name, sans-serif !default;
$icons-font-path: '../../images/icons' !default;
$flags-image-path: '../../images' !default;

@import '_mixins';

@import 'globals/all';
@import 'elements/all';
@import 'collections/all';
@import 'views/all';
@import 'modules/all';

/* Layouts */
@import 'layouts/all';

/* Themes */
@import 'themes/print';

.column {

  &.roman {
    background-color: lighten($roman, 10);
  }
}

.hidden.menu {
  display: none;
}

.ui.segment {

  .content {
    margin-left: auto;
    margin-right: auto;
  }

  .ui.grid>.column,
  .ui.grid>.row>.column {
    padding: 3rem 2rem;
  }

  .ui.placeholder.segment {
    margin: 3rem auto;
    min-height: 12rem;
  }

  &.amazonad {
    padding-bottom: 4rem;
    padding-top: 4rem;

    div#amzn-native-ad-0 {
      margin: auto;
    }

    div#amzn-native-ad-0 div.amzn-native-header {
      text-align: center;
    }
  }

  &.inverted {
    background-color: $deepblue;

    a {
      color: var(--inverseLink);
      text-decoration: underline;
    }

    a:hover {
      color: var(--inverseLinkHover);
    }
  }

  &.masthead {
    background-color: $doublespanishwhite;
    min-height: 700px;
    padding: 1em 0em;

    h1.ui.header {
      font-family: 'Alegreya', serif;
      margin-top: 3em;
      font-size: 3em;
    }

    h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .logo.item img {
      margin-right: 1em;
    }

    .ui.menu .ui.button {
      margin-left: 0.5em;
    }

    .ui.text.container {

      .button {
        margin-bottom: 3rem;
        margin-top: 3rem;
      }
    }
  }

  &.vertical {
    border: 0 none;

    >.ui.segment {
      background: none;
      border: none;
      box-shadow: none;
    }

    h1, h2, h3, h4, h5 {
      font-family: 'Alegreya', serif;
    }

    h3 {
      font-size: 1.28571429em;
    }

    .h2 {
      font-size: 1.71428571em;
    }

    .button + h3,
    p + h3 {
      margin-top: 3em;
    }

    .floated.image {
      clear: both;
    }

    .horizontal.divider {
      margin: 3em 0em;
    }

    .ui.header {

      + h1,
      + h2,
      + h3,
      + h4,
      + h5 {
        margin-top: 8px;
      }
    }

    .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
      font-size: 1em;
    }
  }
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {

  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }

  .ui.masthead.segment {
    min-height: 350px;

    h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }

    p {
      font-size: 1.33em;
    }
  }
}

@media only screen and (min-width: 800px) {

  .ui.section.divider {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}
