@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-shades-white: rgba(255,255,255,1);
	--color-shades-black: rgba(0,0,0,1);
	--color-neutral-50: rgba(233,233,234,1);
	--color-neutral-100: rgba(211,211,212,1);
	--color-neutral-200: rgba(166,168,168,1);
	--color-neutral-300: rgba(122,124,125,1);
	--color-neutral-400: rgba(77,81,81,1);
	--color-neutral-500: rgba(33,37,38,1);
	--color-neutral-600: rgba(26,30,30,1);
	--color-neutral-700: rgba(20,22,23,1);
	--color-neutral-800: rgba(13,15,15,1);
	--color-neutral-900: rgba(7,7,8,1);
	--color-brand-50: rgba(224,180,172,1);
	--color-brand-100: rgba(218,167,158,1);
	--color-brand-200: rgba(207,140,128,1);
	--color-brand-300: rgba(196,113,99,1);
	--color-brand-400: rgba(184,87,70,1);
	--color-brand-500: rgba(154,73,58,1);
	--color-brand-600: rgba(125,59,47,1);
	--color-brand-700: rgba(95,45,36,1);
	--color-brand-800: rgba(54,26,21,1);
	--color-brand-900: rgba(14,6,5,1);
	--color-primary-50: rgba(163,255,242,1);
	--color-primary-100: rgba(143,255,239,1);
	--color-primary-200: rgba(102,255,234,1);
	--color-primary-300: rgba(61,255,228,1);
	--color-primary-400: rgba(21,255,222,1);
	--color-primary-500: rgba(0,235,202,1);
	--color-primary-600: rgba(0,194,167,1);
	--color-primary-700: rgba(0,138,119,1);
	--color-primary-800: rgba(0,82,70,1);
	--color-primary-900: rgba(0,26,22,1);
	--color-warning-50: rgba(255,247,219,1);
	--color-warning-100: rgba(255,243,199,1);
	--color-warning-200: rgba(255,231,143,1);
	--color-warning-300: rgba(255,219,87,1);
	--color-warning-400: rgba(255,206,31,1);
	--color-warning-500: rgba(230,180,0,1);
	--color-warning-600: rgba(173,136,0,1);
	--color-warning-700: rgba(117,92,0,1);
	--color-warning-800: rgba(61,48,0,1);
	--color-warning-900: rgba(5,4,0,1);
	--color-caution-50: rgba(255,214,184,1);
	--color-caution-100: rgba(255,202,163,1);
	--color-caution-200: rgba(255,179,122,1);
	--color-caution-300: rgba(255,156,82,1);
	--color-caution-400: rgba(255,132,41,1);
	--color-caution-500: rgba(255,109,0,1);
	--color-caution-600: rgba(199,85,0,1);
	--color-caution-700: rgba(143,61,0,1);
	--color-caution-800: rgba(87,37,0,1);
	--color-caution-900: rgba(31,13,0,1);
}
.bg-brand-700 {
  background-color: var(--color-brand-700);
}
.bg-primary-700 {
  background-color: var(--color-primary-700);
}
.text-style-paragraph-medium-regular {
	font-size: 16px;
	font-family: "Verdana";
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-style-paragraph-large-regular {
	font-size: 18px;
	font-family: "Verdana";
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-style-paragraph-large-bold {
	font-size: 18px;
	font-family: "Verdana";
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-style-paragraph-small-regular {
	font-size: 14px;
	font-family: "Verdana";
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	text-transform: none;
}
.text-style-ui-large-bold {
	font-size: 18px;
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-style-ui-medium-regular {
	font-size: 16px;
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}
.text-style-header-small {
	font-size: 24px;
	font-family: "Abril Fatface";
	font-weight: 400;
	font-style: normal;
	line-height: 28px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-header-medium {
	font-size: 32px;
	font-family: "Abril Fatface";
	font-weight: 400;
	font-style: normal;
	line-height: 40px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-header-large {
	font-size: 40px;
	font-family: "Abril Fatface";
	font-weight: 400;
	font-style: normal;
	line-height: 48px;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.text-style-header-extra-large {
	font-size: 48px;
	font-family: "Abril Fatface";
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-transform: none;
}
.effect-style-pixel-shadow-medium {
	box-shadow: 4px 4px 0px rgba(207,140,128,1), 8px 8px 0px rgba(218,167,158,1);
}
.effect-style-pixel-shadow-medium {
	box-shadow: 4px 4px 0px rgba(207,140,128,1), 8px 8px 0px rgba(218,167,158,1);
}
