@tailwind base;
@tailwind components;
@tailwind utilities;
@import "imports/colors.css";
@import "imports/typography.css";
@import "imports/utilities.css";

body {
	background-color: var(--color-neutral-50);
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	font-size: 15px;
	font-family: var(--font-sf);
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
	text-decoration: none;
	text-transform: none;
}

.avatar {
	background-color: var(--color-shades-white);
	border-radius: 12px;
}
.avatar-48 {
	height: 48px;
	width: 48px;
}

.number {
	background-color: var(--color-neutral-50);
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.number-28 {
	height: 28px;
	width: 28px;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 0;
}

.columns {
	display: flex;
	gap: 40px;
}

.card-list {
	background-color: var(--color-shades-white);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.card-list-header {
	background-color: var(--color-neutral-100);
	border-radius: 16px 16px 0 0;
	display: flex;
	padding: 20px 16px;
}
.card-list-avatar-heading {
	display: flex;
	gap: 16px;
	width: 100%;
}
.card-list-heading {
	display: flex;
	flex-direction: column;
}
.card-list-items {
	display: flex;
	flex-direction: column;
	padding: 12px;
}
.card-list-item {
	display: flex;
	gap: 12px;
	padding: 12px;
}
.card-list-number-title {
	display: flex;
	gap: 4px;
	width: 100%;
}

.card-book {
	border-radius: 16px;
	padding: 20px;
}
.card-book-horizontal {
	display: flex;
	gap: 16px;
}

.card-book-horizontal .thumb {
	height: 193px;
	width: 128px;
}

.card-book-horizontal .content {
	height: 193px;
	width: 128px;
}

.card-book-horizontal .description {
	height: 193px;
	width: 128px;
}

.card-book-horizontal .actions {
	height: 193px;
	width: 128px;
}
